<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>290795174255-7bi33kvhvhp5e2o7jov515cirn93phpn.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.290795174255-7bi33kvhvhp5e2o7jov515cirn93phpn</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>290795174255-7h789t91k2g57dhbtgjhe3m4ag0l1luu.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyDv4X3zY1N9DJVyzMOm4GLd1k3Pb1RlxD4</string>
	<key>GCM_SENDER_ID</key>
	<string>290795174255</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.example.chipInFlutterVersion</string>
	<key>PROJECT_ID</key>
	<string>chip-inv</string>
	<key>STORAGE_BUCKET</key>
	<string>chip-inv.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:290795174255:ios:0d749f9db45069378ed09a</string>
</dict>
</plist>